
/* code by @itz_pa1(github) */

:root{
    --btn: #49C858;
    --lang: #075E54;
    --header: #128C7E;
    --body: #ffff005b;
}
@font-face{
    src: url(media/AC.ttf);
    font-family: AC;
}
@font-face{
    src: url(media/Tahoma.ttf);
    font-family: TO;
}
@font-face{
    src: url(media/Verdana.ttf);
    font-family: VD;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.wrapper{
    display: none;
    /* display: block; */
    height: 100%;
    width: 100%;
    background: var(--body);
}
.header{
    height: 50px;
    width: 100%;
    background: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.header img{
    width: 30px;
    height: 30px;
}
.header #title{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.lang, #lang{
    width: 80px;
    height: 30px;
    background: var(--lang);
    color: #ffff;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ffff;
    outline: none;
}
.container{
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.dm, .age{
    margin: 0 20px;
}
.txt{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}
.input{
    display: flex;
    justify-content: center;
    margin: 40px;
}
#Ncode, .dob p, .aod p{
    background: var(--header);
    padding: 5px 10px;
    border: 3px solid #ffff;
    color: #ffff;
    font-family: TO;
    font-weight: 600;
    outline: none;
    margin: 0 5px;
    cursor: pointer;
}
#number{
    outline: none;
    border: 2px solid var(--btn);
    border-radius: 2px;
    padding: 0 5px;
    background: #ffff;
    margin-right: 10px;
    color: #000;
    font-size: 15px;
    font-family: VD;
}
.input input[type="number"]::-webkit-inner-spin-button,
.input input[type="number"]::-webkit-outer-spin-button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#btn{
    outline: none;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    background-color: var(--btn);
    color: #ffff;
    font-family: TO;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
}
.uses{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.uses p{
    text-align: center;
    font-size: 18px;
}
.uses a{
    text-decoration: none;
    background: var(--btn);
    padding: 5px 15px;
    color: #ffff;
    font-weight: 500;
    margin: 20px 0;
    border-radius: 2px;
}
h6{
    font-size: 12px;
    text-align: justify;
}
.copyrights{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: var(--header);
    padding: 5px 20px;
    font-family: arial;
    line-height: 18px;
}
.copyrights p{
    text-align: justify;
}
.copyrights a{
    color: #ffff;
}
.copyrights img{
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -36px;
}
.copyrights p u{
    cursor: pointer;
}

/* ------------------------------- for age calculator------------- */

.copyrights-1{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: var(--header);
    padding: 5px 20px;
    font-family: TC, arial;
    line-height: 18px;
}
.copyrights-1 p{
    text-align: justify;
}
.copyrights-1 a{
    color: #ffff;
}
.copyrights-1 img{
    width: 100px;
    height: 100px;
    float: right;
}
.copyrights-1 p u{
    cursor: pointer;
}

/* ---------------------LOADING-SCRN----------------------- */
.loading-scrn{
    background: var(--body);
    height: 100%;
    width: 100%;
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    cursor: progress;
}
.mid{
    margin: auto;
    text-align: center;
}
.mid img{
    width: 60px;
    height: 60px;
    margin: 8px;
}
.mid p{
    color: #ffff;
    font-size: 25px;
    font-family: Tahoma, TO;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px var(--header);
}
.footer{
    margin-bottom: 40px;
    height: auto;
}
.footer span{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: verdana, VD;
}
.footer span a{
    font-size: 20px;
    color: var(--btn);
    text-shadow: 1px -1px 1px #000;
    margin-top: 10px;
    cursor: pointer;
}


/* ---------------------------- Age Calculater--------------- */

.age-container{
    display: none;
    /* display: block; */
}
.age-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dob, .aod{
    margin: 15px 0;
}
.dob input, .aod input{
    display: inline-block;
    margin: 5px;
    padding: 5px 2px;
    width: 180px;
    outline: none;
    border: 2px solid var(--btn);
    border-radius: 2px;
    background: #ffff;
    color: #000;
    font-size: 15px;
    font-family: Verdana, VD;
    text-align: center;
    -moz-appearance: textfield;
}
.dob p, .aod p{
    text-align: center;
    width: 180px;
}
#total-age{
    font-family: AC;
    font-size: 18px;
    margin-top: 15px;
    color: #000;
    opacity: 0;
}



@media only screen and (max-width: 360px){
    body {
    /* background-color: blue; */
    overflow: hidden;
}
    .container{
        margin: 5px;
    }
    .dm, .age{
        max-width: 100%;
        margin: 0 5px;
    }
    .txt {
        font-size: 18px;
    }
    .input{
        margin: 10px 0;
    }
    #Ncode, .dob p, .aod p, #btn{
        padding: 2px 5px;
    }
    .uses{
        font-size: 15px;
        margin: 5px 10px;
    }
    .uses a, h6{
        margin: 15px 5px;
    }
    .copyrights p, .copyrights-1 p{
        font-size: 13px;
        line-height: 14px;
    }
    .copyrights a, .copyrights-1 a{
        font-size: 13px;
    }
    .copyrights img{
        width: 80px;
        height: 80px;
        margin-top: -20px;
    }
    .copyrights-1 img{
        width: 80px;
        height: 80px;
    }
    .dob, .aod{
        display: flex;
        margin: 15px 0;
    }
    .dob input, .aod input{
        padding: 10px 2px;
    }
    .dob p, .aod p{
        width: 170px;
        height: 45px;
        padding-top: 8px;
    }
    .age-input #btn{
        padding: 5px 10px ;
        margin: 0;
    }
    .age-input .uses a{
        margin: 0; 
    }
}